@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


html{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* 헤더 */

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 0 16px;
    
    }

/* logo css */

    .logo span{
        font-size: x-large;
    }

    .logo sup{
        font-size: x-small;
        color: gray;
    }

    .logo #red{
        color: red;
        padding: 18px 0 10px 16px;
    }

    .bold, #tv{
        font-weight: bold;
    }

/* search css */

    .search input{
        height: 39px;
        width: 540px;
        border-radius: 20px;
    }

    .search button{
        padding: 10px 20px;
        border-radius: 20px;
    }

/* info css */

    .info #infoviedo{
        padding: 6px;
    }

    .info #infobell{
        padding: 6px;
    }

    .info img{
        height: 33px;
        width: 33px;
        padding: 6px;
    }


/* 메인 */

    .title{
        font-size: x-large;
    }

    .like button{
        border: none;
        background-color: rgb(227, 227, 227);
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .more_info{
        background-color: rgb(227, 227, 227);
        padding-bottom: 20px;
        border-radius: 20px;
    }

    main .more_info span{
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    main #hashtag{
        padding-top: 10px;
    }

    .more_info button{
        border: none;
        background-color: rgb(227, 227, 227);
    }

/* sub css */

    .sub{
        display: flex;
    }

    .sub .name{
        display: flex;
        align-items: center;
    }

    .sub img{
        height: 40px;
        width: 40px;
        border-radius: 30px;
    }

    .sub button{
        padding: 4px 15px;
        border-radius: 19px;
        color: white;
        background-color: black;
    }


/* 섹션 */

    section{
        display: flex;
    }

    section .upnext{
        display: flex;
    }

    .image img{
        height: 94px;
        width: 168px;
        border-radius: 15px;
    }