@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* 헤더 */

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* 로고 */

.logo .fa-bars{
    margin-left: 20px;
    margin-right: 20px;

}

.logo .fa-brands{
    color: red;
}

.logo #logoName{
    font-size: xx-large;
    font-weight: bold;
    position: relative;
}

.logo #kr{
    font-size: xx-small;
    color: gray;
    position: absolute;
}

/* 서치 */

.search{
    display: flex;
    justify-content: center;
}

.search #find{
    padding: 10px 160px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid lightgray;
}

.search button{
    padding: 5px 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid lightgray;
    background-color: rgb(248, 248, 248);
}

.search #findLogo{
    color: gray;
}

.search .fa-microphone{
    margin-top: 20px;
    margin-left: 20px;
}

/* 프로필 */

.profile img{
    width: 25px;
}

/* 메인 */

main{
    margin-left: 70px;
    display: flex;
}

/* 비디오 */

.video #videoLink{
    margin-bottom: 10px;
}

.videoInfo{
    margin-right: 25px;
}

.videoInfo #videoName{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

.youtuber{
    display: flex;
    margin-bottom: 15px;
}

.youtuber img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-right: 20px;
}

.wakta #waktaName{
    margin-right: 30px;
} 

.wakta #waktaSub{
    font-size: smaller;
}

.youtuber #subscribe{
    height: 35px;
    padding: 0 16px;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
    margin-right: 227px;
}

/* 비디오 버튼 */

.videoButton{
    display: flex;
    justify-content: center;
    height: 35px;
}

.videoButton #thumbsUp{
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 1px solid lightgray;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-left: 15px;
}

.videoButton #thumbsDown{
    border: none;
    padding: 0 15px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 10px;
}

.videoButton #share{
    border: none;
    padding: 0 15px;
    border-radius: 20px;
    margin-right: 10px;
}

.videoButton #download{
    border: none;
    padding: 0 15px;
    border-radius: 40px;
    margin-right: 10px;
}

.videoButton #more{
    border: none;
    padding: 0 10px;
    border-radius: 50px;
}

/* 비디오 정보 */

.waktaVideo{
    background-color: rgb(240, 240, 240);
    padding: 15px;
    width: 910px;
    border-radius: 20px;
    display: flex;
}
.moreInfo{
    display: flex;
    flex-direction: column;
    position: relative;
}

#theMore{
    border: none;
    margin-top: 45px;
    position: absolute;
    right: 1215px;
}
/* 섹션 */

section{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

/* 잡다함 */

#moreChat{
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 40px;
}

.list{
    margin-bottom: 20px;
    position: relative;
}

.list #all{
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 7px 12px;
    margin-right: 4px;
}

.list #forWakta{
    border: none;
    border-radius: 10px;
    color: black;
    padding: 7px 12px;
    margin-right: 4px;
}

.list #contents{
    border: none;
    border-radius: 10px;
    color: black;
    padding: 7px 12px;
}

.list #arrow{
    border: none;
    border-radius: 40px;
    background-color: white;
    color: black;
    padding: 7px 12px;
    position: absolute;
    right: 20px;
}

#arrow:hover{
    background-color: rgb(183, 183, 183);
}

/* 다음동영상 */

section .moreVideo{
    display: flex;
    flex-direction: column;
}

.more1, .more2, .more3{
    display: flex;
    margin-bottom: 10px;
}

#moreName, #moreName2, #moreName3{
    margin-bottom: 10px;
}

#moreYoutuber, #moreView, #moreYoutuber2, #moreView2, #moreYoutuber3, #moreView3{
    font-size: small;
    color: gray;
}

#happy, #happy2, #happy3{
    width: 165px;
    height: 90px;
    margin-right: 10px;
    border-radius: 10px;
}


