header{
    margin-top: 60px;
    margin-bottom: 60px;
}

header h1{
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 44px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_naver_logo_20191126.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
}

body{
    background-color: rgb(246, 246, 246);
}

.backurl{
    position: absolute;
    color: gray;
}

body input{
    padding: 15px 90px;
    margin: 20px;
}

main{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
}

.phone button{
    background-color: green;
    color: white;
}


main #yy, main #dd{
    padding: 15px 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li{
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    display: inline;
    padding: 0 3px 0 7px;
    background: url(https://static.nid.naver.com/images/join/pc/bu_bar_2x.gif) left 50% no-repeat;
    background-size: 1px 10px;
}

footer .copy{
    font-size: 12px;
    position: relative;
    display: inline;
    white-space: nowrap;
}

footer #right{
    padding: 0 0 0 4px;
}
footer #corp{
    font-weight: bold;
}